<!DOCTYPE html>
<html>
    <head>
        <title>View a Symbol</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <link rel="stylesheet" href="{{ url_for('src', path='/style.css') }}">
    </head>
    <body>
        <h1>Real-time OHLC Chart</h1>
        <!-- <form action="" onsubmit="sendQuery(event)">
            <input type="text" id="query_exchange" autocomplete="on" placeholder="bitfinex"/>
            <input type="text" id="query_base_id" autocomplete="on" placeholder="ETH"/>
            <input type="text" id="query_quote_id" autocomplete="on" placeholder="BTC"/>
            <input type="text" id="query_start" autocomplete="on" placeholder="2020-11-26T00:00:00"/>
            <input type="text" id="query_end" autocomplete="on" placeholder="2020-11-26T01:00:00"/>
            <button>Query</button>
        </form> -->
        <span id="exchange" style="display: none;">{{ exchange }}</span>
        <span id="base_id" style="display: none;">{{ base_id }}</span>
        <span id="quote_id" style="display: none;">{{ quote_id }}</span>
        <div>Try this combination: bitfinex - ETH - BTC - 2021-01-01T00:00:00 - 2021-02-01T00:00:00</div>
        <div>Also try this combination: binance - BTC - EUR - 1609480800000 - 1612159200000</div>
        <div id="chart"></div>
        <ul id='messages'>
        </ul>

        <!-- Worry about caching in Redis later -->
        <!-- Lightweight chart script -->
        <script src="{{ url_for('src', path='/chart.js') }}"></script>
        <script>
            function sendQuery(event) {
                var exchange = document.getElementById("query_exchange").value
                var base_id = document.getElementById("query_base_id").value
                var quote_id = document.getElementById("query_quote_id").value
                var start = document.getElementById("query_start").value
                var end = document.getElementById("query_end").value
                readOHLC(exchange, base_id, quote_id, start, end)
                event.preventDefault()
            };
        </script>        
    </body>
</html>