.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}

.go-to-realtime-button {
	width: 27px;
	height: 27px;
	position: absolute;
	display: none;
	padding: 7px;
	box-sizing: border-box;
	font-size: 10px;
	border-radius: 50%;
	text-align: center;
	z-index: 1000;
	color: #B2B5BE;
	background: rgba(250, 250, 250, 0.95);
	box-shadow: 0 2px 5px 0 rgba(117, 134, 150, 0.45);
}